# Connection string de Supabase - usar el "Session pooler" (puerto 5432)
# Project Settings > Database > Connection string > URI
DATABASE_URL="postgresql://postgres.fiqazhjulwjnlurmexlh:OoEtJGS2b4SWGQPd@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
